.BW-Header{
    opacity: 0.6;
    size: 10px;
    text-align:center;
    width: auto;
    letter-spacing: 2px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.specialScroll{
    margin: 8px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: rgb(0,0,0,0.2) rgb(0,0,0,0);
    direction: ltr;
    width: auto;
}
.items-right{
    min-width: 0;
}